VITE_SUPABASE_URL=https://ewfgbfayfzdwjqixxpac.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3ZmdiZmF5Znpkd2pxaXh4cGFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNzQwNjksImV4cCI6MjA5Njg1MDA2OX0.m86K3o6vkk3SAGf-TJv64F5XrHmAp618o6ScPnC42S4
